/* 记号笔样式 */
.marker-text {
    text-decoration: underline;
    text-decoration-thickness: 9px;
    text-decoration-color: rgba(79,192,141,0.5);
    text-underline-offset: -4px;
    text-decoration-skip-ink: none;
}