name: testpack build

on:
  push:
    paths:
      - "pack/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    
    defaults:
      run:
        working-directory: ./pack

    steps:
      - name: 1. 检出仓库
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: 2. 设置 Go 语言环境
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.3"
          cache: false

      - name: 3. 安装 packwiz
        run: go install github.com/packwiz/packwiz@latest

      - name: 4. 导出 Curseforge 整合包
        id: export
        run: |
          packwiz curseforge export --side both

      - name: 5. 重命名整合包文件
        run: |
          original_name=$(ls *.zip | sed 's/.zip$//')
          cd .. && short_sha=$(git log -1 --format="%h" -- pack/)
          new_name="${original_name}-Testpack-${short_sha}"
          cd pack && mv "${original_name}.zip" "${new_name}.zip"
          echo "FILE_PATH=${new_name}.zip" >> $GITHUB_ENV
          echo "FILE_NAME=${new_name}" >> $GITHUB_ENV

      - name: 6. 创建空目录并解压
        run: |
          mkdir -p unzipped
          unzip -O UTF-8 "$FILE_PATH" -d unzipped/

      - name: 7. 上传至 Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILE_NAME }}
          path: pack/unzipped/

      - name: 8. 提取当前版本更新日志
        working-directory: .
        run: |
          python .github/scripts/get_changelog.py
          if [ -f "CHANGELOG_NOW.md" ]; then
            echo "CHANGELOG_EXISTS=true" >> $GITHUB_ENV
          else
            echo "CHANGELOG_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: 9. 获取版本号
        id: get_version
        run: |
          VERSION=$(grep -oP 'version\s*=\s*"\K[^"]+' pack.toml)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "版本: $VERSION"

      - name: 10. 更新 testpack 标签
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: |
          cd ..
          git config --global user.name "QianFuv"
          git config --global user.email "qianfuv@qq.com"
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/QianFuv/Miracles-Journey.git
          if git tag -l "testpack" | grep -q "testpack"; then
            git tag -d testpack
            git push origin :refs/tags/testpack || true
          fi
          git tag -a testpack -m "奇迹之旅 ${{ env.VERSION }} 最新测试版构建"
          git push origin testpack

      - name: 11. 创建或更新 GitHub Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.TOKEN }}
          tag: "testpack"
          name: "Miracles-Journey-${{ env.VERSION }}-Testpack"
          bodyFile: ${{ env.CHANGELOG_EXISTS == 'true' && 'CHANGELOG_NOW.md' || github.workspace }}
          commit: ${{ github.sha }}
          prerelease: true
          draft: false
          allowUpdates: true
          removeArtifacts: true
          artifacts: "pack/${{ env.FILE_PATH }}"

      - name: 12. 上传至 123 云盘
        continue-on-error: true
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          FILE_PATH: ${{ env.FILE_PATH }}
        run: |
          python3 ../.github/scripts/upload.py \
            --client_id "$CLIENT_ID" \
            --client_secret "$CLIENT_SECRET" \
            --file "$FILE_PATH" \
            --parent_id 6552398